<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - Fresh Basket</title>
    <link rel="stylesheet" href="/static/shop.css">
</head>
<body>
    <header>
        <nav>
            <a href="home.html">Home</a>
            <a href="user_dashboard.html">My Dashboard</a>
            <a href="cart.html">Cart</a>
        </nav>
    </header>
    <h2>Shop Our Fresh Products</h2>
    <div class="products-container">
        <div class="line1">
            <div class="b1">
                <img id="s1" src="/static/images/shop1.jpeg" alt="">
                <h4>CASHEW</h4>
                <div class="shin1">
                    <p>Rs. 200</p>
                    <button>Add to Cart</button>
                </div>
            </div>

            <div class="b2">
                <img id="s2" src="/static/images/shop2.png" alt="">
                <h4>CASHEW NUTS</h4>
                <div class="shin2">
                    <p>Rs. 250</p>
                    <button>Add to Cart</button>
                </div>
            </div>

            <div class="b3">
                <img id="s3" src="/static/images/shop3.jpeg" alt="">
                    <h4>HERBAL HONEY</h4>
                    <div class="shin3">
                        <p>Rs. 250</p>
                        <button>Add to Cart</button>
                    </div>
                    
            </div>
        </div>
            
        <div class="line2">
            <div class="b4">
                <img id="s4" src="/static/images/shop4.jpeg" alt="">
                <h4>VEGTABLES SET</h4>
                <div class="shin4">
                    <p>Rs. 1000</p>
                    <button>Add to Cart</button>
                </div>
                
            </div>

            <div class="b5">
                <img id="s5" src="/static/images/shop5.avif" alt="">
                <h4>DAIRY SET</h4>
                <div class="shin5">
                    <p>Rs. 850</p>
                    <button>Add to Cart</button>
                </div>
                
            </div>

            <div class="b6">
                <img id="s6" src="/static/images/shop6.webp" alt="">
                <h4>FRUITS SET</h4>
                <div class="shin6">
                    <p>Rs. 1250</p>
                    <button>Add to Cart</button>
                </div>
                
            </div>
        </div>
    </div>
</body>
</html>
